<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <div class="logo-login">
        <div class="logo" ></div>
        <div class="dropdown-login" data-ng-include data-src="resourceUrl + '/partials/menu.html'"></div>
    </div>

    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/clients">{{:: 'clients' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}">{{client.clientId}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}/authz/resource-server">{{:: 'authz-authorization' |
            translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}/authz/resource-server/menu">{{::
            'authz-menu' | translate}}</a></li>
        <li><a href="#/realms/{{realm.realm}}/clients/{{client.id}}/authz/resource-server/menu/create/parent/realm">{{::
            'create-menu' | translate}}</a></li>
    </ol>

    <div>
    	<h1>{{:: 'create-menu' | translate}}</h1>
    </div>
    <form class="form-horizontal" name="clientForm" novalidate>
        <fieldset class="border-top">
            <div class="form-group">
                <label class="col-md-2 control-label" for="name">{{:: 'menuCode' | translate}} <span style="display: inline !important" class="required" data-ng-show="create">*</span></label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="name" name="name" data-ng-model="resource.name" autofocus required data-ng-blur="checkNewNameAvailability()">
                </div>
                <kc-tooltip>{{:: 'authz-resource-name.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="name">{{:: 'displayName' | translate}} <span style="display: inline !important" class="required" data-ng-show="create">*</span></label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="displayName" name="displayName" data-ng-model="resource.displayName">
                </div>
                <kc-tooltip>{{:: 'authz-resource-name.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="name">{{:: 'order' | translate}} <span style="display: inline !important" class="required" data-ng-show="create">*</span></label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="order" name="order" data-ng-model="resource.order">
                </div>
                <kc-tooltip>{{:: 'authz-resource-order.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="name">{{:: 'haveChild' | translate}} </label>
                <div >
                    <input class="form-control" type="checkbox" id="haveChild" name="haveChild" data-ng-model="resource.haveChild" style="cursor: pointer;width: 30px;">
                </div>
                <kc-tooltip>{{:: 'authz-resource-haveChild.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group ng-hide">
                <label class="col-md-2 control-label" for="resource.owner.name">{{:: 'authz-owner' | translate}} </label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="resource.owner.name" name="name" data-ng-model="resource.owner.name" autofocus disabled>
                </div>
                <kc-tooltip>{{:: 'authz-resource-order.tooltip' | translate}}</kc-tooltip>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="newUri">{{:: 'authz-uri' | translate}} </label>
                <div class="col-sm-6">
                    <div class="input-group" ng-repeat="(i, uri) in resource.uris track by $index">
                        <input class="form-control" ng-model="resource.uris[i]">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button" data-ng-click="deleteUri($index)"><span class="fa fa-minus"></span></button>
                        </div>
                    </div>

                    <div class="input-group">
                        <input class="form-control" ng-model="newUri" id="newUri">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button" data-ng-click="newUri.length > 0 && addUri()"><span class="fa fa-plus"></span></button>
                        </div>
                    </div>
                </div>
                <kc-tooltip>{{:: 'authz-resource-uri.tooltip' | translate}}</kc-tooltip>
            </div>
        </fieldset>

        <div class="form-group" data-ng-show="access.manageAuthorization">
            <div class="col-md-10 col-md-offset-2">
                <button kc-save data-ng-disabled="!changed">{{:: 'save' | translate}}</button>
                <button kc-reset data-ng-disabled="!changed">{{:: 'cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>

<kc-menu></kc-menu>
